<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hóa đơn điện tử | Yaah Hub</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      html {
        font-size: 16px;
        font-family: monospace;
      }

      table {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
      }

      td {
        padding: 10px;
      }

      p {
        margin-block: 10px;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>Yaah Hub</h1>
      <p style="color: #666">Phiếu thanh toán / Receipt</p>
      <p style="color: #666">29/01/2026 2:12:05 PM</p>

      <hr style="border-style: dashed; color: #ddd; margin-block: 10px" />

      <table>
        <tbody>
          <tr>
            <td>Phiên chơi (1h45p)</td>
            <td style="text-align: end">300.000đ</td>
          </tr>
        </tbody>

        <tfoot>
          <tr>
            <td style="border-top: 1px dashed #555">Tổng cộng</td>
            <td style="text-align: end; border-top: 1px dashed #555; font-size: 24px"><b>450.000đ</b></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </body>
</html>
